* {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 700px) {
  header {
    display: none !important;
  }
  h1 {
    font-size: 32px !important;
  }
  a {
    text-decoration: underline !important;
  }

  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 26px !important;
  }
  main {
    height: 50vh !important;
  }
  section.about {
    margin-top: 0 !important;
    padding-top: 50px;
  }
  .services-container p {
    display: none;
  }
  div.services-container,
  .feedback-container {
    display: block !important;
  }
  div.services-container {
    text-align: center;
  }
  .feedback-container div {
    margin-top: 20px;
  }
}
@media (min-width: 701px) and (max-width: 1008px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

:root {
  --primary-color: bisque;
}
body {
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ccb7a0;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}
img,
main {
  border-radius: 5px;
}
header {
  padding: 5px 0 0 50px;
}

h1 {
  font-size: 42px;
  margin: 0;
  padding: 0;
}
p,
h4 {
  margin: 10px;
}
main {
  height: 100vh;
  width: 100%;
  color: var(--primary-color);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(../asset/image/mainimage.jpg) center / cover no-repeat;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.service h2,
.feedback h3,
.about,
.feedback-container div,
footer {
  text-align: center;
}
section.about {
  margin-top: 150px;
}

section.about a {
  font-size: 19px;
}

div.services-container,
.feedback-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

div.services-container p {
  width: 70%;
}
.services-container {
  margin: 20px;
}
div.sales img {
  padding: 10px;
}
.service h2,
.feedback h3 {
  margin: 40px 0 10px 0;
}
.service h2 {
  font-size: 36px;
}
.service p {
  line-height: 1.5em;
}
.feedback-container {
  margin: 40px 0 20px 40px;
}
.feedback h3 {
  font-size: 30px;
}
.feedback-container div {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 70%;

  background-color: #f0ffff;
}
.feedback-container img {
  border-radius: 50px;
  border: none;
  margin-top: 30px;
}
.feedback-container i {
  color: #ffd700;
}
.feedback-container h5 {
  margin-bottom: 5px;
}
.feedback-container p {
  margin-top: 5px;
}
footer {
  background-color: dimgray;
  padding: 30px 0 30px 0px;
  color: var(--primary-color);
  margin-top: 50px;
}
